<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Peras y Manzanas" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555105c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Peras y Manzanas</text></svg>-->
            <img src="assets/img/peras.jpeg" alt="peras">
            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/manzanas.jpeg" alt="manzanas">
            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/naranjas.jpeg" alt="naranjas">

            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/kiwis.jpeg" alt="kiwis">

            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/frutillas.jpeg" alt="frutillas">

            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/papayas.jpeg" alt="papayas">

            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/cerezas.jpeg" alt="cerezas">

            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/platanos.jpeg" alt="platanos">

            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/sandias.jpeg" alt="sandias">

            <div class="card-body">
              <p class="card-text">esto es un producto.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oferta</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                </div>
                <small class="text-muted">10 Producto</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

